<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-row>
      <ion-col col-6>
        <h4 class="business_name_at_dashboard">{{translate.itemsPage[0][translate.selectedlanguage]}}</h4>
      </ion-col>
      <ion-col col-6>
        <!-- <ion-title text-right><ion-icon ios="ios-more" md="md-more"></ion-icon></ion-title> -->
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row class="ewb_tabs">
    <ion-searchbar (ionInput)="searchItem($event)" placeholder="Search by Name, HSN/SKU Code"></ion-searchbar>
  </ion-row>
  <ion-row style="margin: 0px;padding: 0px;">
    <ion-card *ngFor="let item of itemsList">
      <ion-card-content class="ion_card_content">
        <ion-row>
          <ion-col col-12 class="right-column-6">
            <span class="span_icon_edit" (click)="itemDetails(item)"><ion-icon ios="ios-brush" md="md-brush"></ion-icon></span>
          </ion-col>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">{{translate.itemsPage[1][translate.selectedlanguage]}}</span><br>
            <span class="span_second">{{item.item_description}}</span>
          </ion-col>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">{{translate.itemsPage[2][translate.selectedlanguage]}}</span><br>
            <span class="span_second">{{item.item_sku_code}}</span>
          </ion-col>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">{{translate.itemsPage[6][translate.selectedlanguage]}}</span><br>
            <span class="span_second">{{item.hsn_sac_code}}</span>
          </ion-col>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">{{translate.itemsPage[3][translate.selectedlanguage]}} (₹)</span><br>
            <span class="span_second">{{sortPurchasePrice(item.purchase_price)}}</span>
          </ion-col>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">{{translate.itemsPage[4][translate.selectedlanguage]}} (₹)</span><br>
            <span class="span_second">{{sortSellingPrice(item.selling_price)}}</span>
          </ion-col>
          <ion-col col-6 class="left-column-6">
            <span class="span_first">{{translate.itemsPage[5][translate.selectedlanguage]}} (%)</span><br>
            <span class="span_second">{{sortCessPrice(item.cess_rate)}}</span>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card style="border-top:none;"></ion-card>
  </ion-row>
  <ion-fab right bottom>
    <button ion-fab color="light" (click)="addNewItem()"><ion-icon ios="ios-add" md="md-add"></ion-icon></button>
  </ion-fab>
</ion-content>
