page-login {
  .login-header{
    position: initial;
    margin-top: 10%;
  }
  .logo{
    width: 45%;
    position: relative;
    z-index: 999;
    left: 30%;
  }
  .login-content {
    margin-top: 25%;
    padding: 5%;
  }
  .login-form-row {
    width: 90%;
    margin: auto;
  }
  ion-list {
    width: 100%;
  }
  .item-md {
    padding-left: 16px;
    padding-right: 16px;
  }
  .list-md .item-block .item-inner {
    border-bottom: 2px solid #dedede;
  }
  .form-buttons{
    text-align: center;
  }
  .reset-button{
    background-color: #8c7777;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    font-size: 1.3rem;
    text-transform: capitalize;
  }
  .login-button{
    background-color: #337ab7;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    font-size: 1.3rem;
    text-transform: capitalize;
  }
  .view_password_old{
    font-size: 100%;
    color: red;
    position: absolute;
    right: 10%;
    top: 20%;
  }
  .view_password {
    font-size: 100%;
    color: red;
    position: absolute;
    right: 10%;
    top: 20%;
  }
  .error_password {
    width: 100% !important;
    text-align: right;
    float: right;
    margin-right: 7%;
    font-size: 80%;
    color: red;
  }
  .error_email{
    width: 100% !important;
    text-align: right;
    float: right;
    margin-right: 7%;
    font-size: 80%;
    color: red;
  }
  .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: #986e6e;
  }
  .forgot-password{
    width: 100%;
    text-align: center;
  }
  .item-input ion-input, .item-input ion-textarea {
    position: static;
    z-index: 0;
  }
  .input-icon{
    color: #8c8181;
    margin-bottom: -2% !important;
    font-size: 1.4em;
    z-index: 9999999;
  }
}
