<ion-header class="login-header">
  <ion-row>
    <div class="logo"><img src="assets/imgs/logo.png"></div>
  </ion-row>
</ion-header>

<ion-content class="login-content">
  <ion-row class="login-form-row" >
    <p class="reset-password">{{translate.forgotPasswordPage[0][translate.selectedlanguage]}}</p>
    <ion-list>
      <ion-item>
        <ion-label floating>{{translate.forgotPasswordPage[1][translate.selectedlanguage]}}</ion-label>
        <ion-input type="text" name="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item style="margin-top:5%;">
        <ion-row style="width:100%;">
          <ion-col col-12 class="form-buttons">
            <button ion-button class="login-button" (click)="forgotPassword()">{{translate.forgotPasswordPage[2][translate.selectedlanguage]}}</button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-row>
  <p class="forgot-password" (click)="back()"><ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon> {{translate.forgotPasswordPage[3][translate.selectedlanguage]}}</p>
</ion-content>

