<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-9 class="header_left">
          {{header_text}}
      </ion-col>
      <ion-col col-3 class="header_right">
        <ion-icon ios="ios-close" md="md-close" (click)="cancel()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <form #transactionForm="ngForm" novalidate style="width: 100%;">
      <ion-list>
        <ion-item>
          <ion-label floating>{{translate.addTransactionPage[0][translate.selectedlanguage]}}</ion-label>
          <ion-select name="transaction_type" [(ngModel)]="transaction.transaction_type" #transaction_type="ngModel" cancelText="Cancel" okText="Select" (ngModelChange)="changeType()" required>
            <ion-option value="O">Outward-Sale</ion-option>
            <ion-option value="I">Inward-Purchase</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>{{translate.addTransactionPage[1][translate.selectedlanguage]}}</ion-label>
          <ion-select name="transaction_sub_type" [(ngModel)]="transaction.transaction_sub_type" #transaction_sub_type="ngModel" cancelText="Cancel" okText="Select" required>
            <ion-option *ngFor="let transactionSubType of transactionSubTypeList" [value]="transactionSubType.value" >{{transactionSubType.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>{{translate.addTransactionPage[2][translate.selectedlanguage]}}</ion-label>
          <ion-select name="document_type" [(ngModel)]="transaction.document_type" #document_type="ngModel" cancelText="Cancel" okText="Select" required>
            <ion-option *ngFor="let documentType of documentTypeList" [value]="documentType.value">{{documentType.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>{{translate.addTransactionPage[3][translate.selectedlanguage]}}</ion-label>
          <ion-input type="text" name="document_no" [(ngModel)]="transaction.document_no" #document_no="ngModel" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{translate.addTransactionPage[4][translate.selectedlanguage]}}</ion-label>
          <ion-input type="date" name="document_date" [max]="maxDate" [(ngModel)]="transaction.document_date" #document_date="ngModel" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col col-3></ion-col>
            <ion-col col-4>
              <button ion-button (click)="cancel()" class="cancel_button">{{translate.addTransactionPage[5][translate.selectedlanguage]}}</button>
            </ion-col>
            <ion-col col-1></ion-col>
            <ion-col col-4>
              <button ion-button type="submit" (click)="save()" [disabled]="transactionForm.invalid" class="save_button">{{translate.addTransactionPage[6][translate.selectedlanguage]}}</button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </form>
  </ion-row>
</ion-content>
