<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-row>
      <ion-col col-6>
        <h4 class="business_name_at_dashboard">{{translate.settingsPage[0][translate.selectedlanguage]}}</h4>
      </ion-col>
      <ion-col col-6>
        <!-- <ion-title text-right><ion-icon ios="ios-more" md="md-more"></ion-icon></ion-title> -->
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row class="login-form-row">
    <ion-col col-12 text-center><h4>{{translate.settingsPage[1][translate.selectedlanguage]}}</h4></ion-col>
    <ion-list>
      <ion-item>
        <ion-label floating>{{translate.settingsPage[2][translate.selectedlanguage]}}</ion-label>
        <ion-input type="text" name="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item style="margin-top:5%;">
        <ion-row>
          <ion-col col-12 class="form-buttons">
            <button ion-button class="login-button" (click)="updatePassword()">{{translate.settingsPage[3][translate.selectedlanguage]}}</button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-row>
</ion-content>
