page-sidemenu {
  .sidemenu_header{
    height: 15%;
    background: #337ab7;
    color: #fff;
  }
  .sidemenu_header_row{
    height: 100%;
  }
  .sidemenu_header_name{
    font-size: 1.1em;
    color: #fff;
    font-weight: 100;
    margin-bottom: 2%;
  }
  .sidemenu_header_business{
    color: #fff;
    font-size: 1.3em;
    font-weight: 100;
  }
  .sidemenu_items > button{
    color: #4c3d3d;
    border-bottom: 1px solid #fff;
  }
  .scroll-content {
    margin-top: 75px !important;
  }
  .toolbar-title-md {
    text-transform: capitalize;
  }
  .sidemenu_header_icon{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    margin: auto;
    padding-top: 10%;
  }
  .sidemenu_person {
    border-radius: 50%;
    width: 100%;
  }

  .business_name {
    position: relative;
    top: -10px;
    left: 5%;
  }
  .list_icon {
    font-size: 1.3em;
    margin-right: 5%;
  }
  .label-md {
    margin: 10px 8px 10px 0;
  }
  .content-md hr {
    background-color: #443838;
  }
  .list-md {
    margin: 0px;
  }
  // .item-block{
  //   min-height: 4rem;
  // }
}
