<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-9 class="header_left">
          {{button_text}}
      </ion-col>
      <ion-col col-3 class="header_right">
        <ion-icon ios="ios-close" md="md-close" (click)="cancel()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <form #updateCustomerForm="ngForm" novalidate style="width: 100%;">
      <ion-list>
        <ion-item>
          <ion-label floating>{{translate.clientDetailsPage[0][translate.selectedlanguage]}}</ion-label>
          <ion-input type="text" name="customer_name" [(ngModel)]="customer.customer_name" #customer_name="ngModel" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{translate.clientDetailsPage[1][translate.selectedlanguage]}}</ion-label>
          <ion-input type="text" name="customer_nickname" [(ngModel)]="customer.customer_nickname" #customer_nickname="ngModel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>GSTIN</ion-label>
          <ion-input type="text" name="customer_gstin" [(ngModel)]="customer.customer_gstin" #customer_gstin="ngModel" (input)="filterState($event)" required text-uppercase></ion-input>
        </ion-item>
        <small class="error_message" *ngIf="invalidGstin">{{invalidGstinMessage}} <ion-icon ios="ios-warning" md="md-warning"></ion-icon></small>
        <ion-item>
          <ion-label floating>{{translate.clientDetailsPage[2][translate.selectedlanguage]}}</ion-label>
          <ion-input type="text" name="customer_contact_person" [(ngModel)]="customer.customer_contact_person" #customer_contact_person="ngModel" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{translate.clientDetailsPage[3][translate.selectedlanguage]}}</ion-label>
          <ion-input type="tel" name="customer_mobile" [(ngModel)]="customer.customer_mobile" #customer_mobile="ngModel" required (input)="validateMobile()"></ion-input>
        </ion-item>
        <small class="error_message" *ngIf="invalidMobile">{{invalidMobileMessage}} <ion-icon ios="ios-warning" md="md-warning"></ion-icon></small>
        <ion-item>
          <ion-label floating>PAN</ion-label>
          <ion-input type="text" name="customer_pan" [(ngModel)]="customer.customer_pan" #customer_pan="ngModel" required text-uppercase (input)="validatePan()"></ion-input>
        </ion-item>
        <small class="error_message" *ngIf="invalidPan">{{invalidPanMessage}} <ion-icon ios="ios-warning" md="md-warning"></ion-icon></small>
        <ion-item>
          <ion-label floating>{{translate.clientDetailsPage[4][translate.selectedlanguage]}}</ion-label>
          <ion-input type="text" name="customer_email" [(ngModel)]="customer.customer_email" #customer_email="ngModel" required text-lowercase></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{translate.clientDetailsPage[5][translate.selectedlanguage]}}</ion-label>
          <ion-input type="tel" name="customer_landline" [(ngModel)]="customer.customer_landline" #customer_landline="ngModel"></ion-input>
        </ion-item>
        <small class="error_message" *ngIf="invalidLandline">{{invalidLandlineMessage}} <ion-icon ios="ios-warning" md="md-warning"></ion-icon></small>
        <ion-item>
          <ion-label floating>{{translate.clientDetailsPage[6][translate.selectedlanguage]}}</ion-label>
          <ion-select name="customer_state" [(ngModel)]="customer.customer_state" #customer_state="ngModel" cancelText="Cancel" okText="Select" required>
            <ion-option *ngFor="let state of states" value="{{state.state_code}}">{{state.state_name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>{{translate.clientDetailsPage[8][translate.selectedlanguage]}}</ion-label>
          <ion-input type="text" name="customer_address_one" id="customer_address_one" [(ngModel)]="customer.customer_address_one" #customer_address_one="ngModel" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{translate.clientDetailsPage[9][translate.selectedlanguage]}}</ion-label>
          <ion-input type="text" name="customer_address_two" id="customer_address_two" [(ngModel)]="customer.customer_address_two" #customer_address_two="ngModel" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{translate.clientDetailsPage[7][translate.selectedlanguage]}}</ion-label>
          <ion-input type="text" name="customer_city" id="customer_city" [(ngModel)]="customer.customer_city" #customer_city="ngModel" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{translate.clientDetailsPage[10][translate.selectedlanguage]}}</ion-label>
          <ion-input type="tel" name="customer_pincode" id="customer_pincode" [(ngModel)]="customer.customer_pincode" #customer_pincode="ngModel" required (input)="validatePincode()"></ion-input>
        </ion-item>
        <small class="error_message" *ngIf="invalidPincode">{{invalidPincodeMessage}} <ion-icon ios="ios-warning" md="md-warning"></ion-icon></small>
        <ion-item>
          <ion-row>
              <ion-col col-3></ion-col>
              <ion-col col-4>
              <button ion-button (click)="cancel()" class="cancel_button">{{translate.clientDetailsPage[11][translate.selectedlanguage]}}</button>
            </ion-col>
            <ion-col col-1></ion-col>
            <ion-col col-4>
              <button ion-button type="submit" (click)="save()" [disabled]="(updateCustomerForm.invalid || (invalidGstin||invalidPan||invalidMobile||invalidPincode))" class="save_button">{{translate.clientDetailsPage[12][translate.selectedlanguage]}}</button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </form>
  </ion-row>
</ion-content>
