<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-9 class="header_left">
          {{header_text}}
      </ion-col>
      <ion-col col-3 class="header_right">
        <ion-icon ios="ios-close" md="md-close" (click)="cancel()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <form #vehicleForm="ngForm" novalidate style="width: 100%;">
      <ion-list>
        <ion-item>
          <ion-label floating>{{translate.vehicleUpdatePage[0][translate.selectedlanguage]}}</ion-label>
          <ion-select name="fromState" [(ngModel)]="vehicle.fromState" #fromState="ngModel" cancelText="Cancel" okText="Select" required>
            <ion-option *ngFor="let state of states" value="{{state.state_code}}">{{state.state_name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>{{translate.vehicleUpdatePage[1][translate.selectedlanguage]}}</ion-label>
          <ion-input type="text" name="fromPlace" [(ngModel)]="vehicle.fromPlace" #fromPlace="ngModel" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{translate.vehicleUpdatePage[2][translate.selectedlanguage]}}</ion-label>
          <ion-input type="text" name="vehicleNo" [(ngModel)]="vehicle.vehicleNo" #vehicleNo="ngModel" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{translate.vehicleUpdatePage[3][translate.selectedlanguage]}}</ion-label>
          <ion-select name="transMode" [(ngModel)]="vehicle.transMode" #transMode="ngModel" cancelText="Cancel" okText="Select" required>
            <ion-option value="1">{{translate.vehicleUpdatePage[4][translate.selectedlanguage]}}</ion-option>
            <ion-option value="2">{{translate.vehicleUpdatePage[5][translate.selectedlanguage]}}</ion-option>
            <ion-option value="3">{{translate.vehicleUpdatePage[6][translate.selectedlanguage]}}</ion-option>
            <ion-option value="4">{{translate.vehicleUpdatePage[7][translate.selectedlanguage]}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>{{translate.vehicleUpdatePage[8][translate.selectedlanguage]}}</ion-label>
          <ion-input type="date" name="transDocDate" [max]="maxDate" [(ngModel)]="vehicle.transDocDate" #transDocDate="ngModel" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{translate.vehicleUpdatePage[19][translate.selectedlanguage]}}</ion-label>
          <ion-input type="text" name="transDocNo" [(ngModel)]="vehicle.transDocNo" #transDocNo="ngModel" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{translate.vehicleUpdatePage[9][translate.selectedlanguage]}}</ion-label>
          <ion-select name="vehicleType" [(ngModel)]="vehicle.vehicleType" #vehicleType="ngModel" cancelText="Cancel" okText="Select" required>
            <ion-option value="R">{{translate.vehicleUpdatePage[10][translate.selectedlanguage]}}</ion-option>
            <ion-option value="O">{{translate.vehicleUpdatePage[11][translate.selectedlanguage]}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>{{translate.vehicleUpdatePage[12][translate.selectedlanguage]}}</ion-label>
          <ion-select name="reasonCode" [(ngModel)]="vehicle.reasonCode" #reasonCode="ngModel" cancelText="Cancel" okText="Select" required>
            <ion-option value="1">{{translate.vehicleUpdatePage[13][translate.selectedlanguage]}}</ion-option>
            <ion-option value="2">{{translate.vehicleUpdatePage[14][translate.selectedlanguage]}}</ion-option>
            <ion-option value="3">{{translate.vehicleUpdatePage[15][translate.selectedlanguage]}}</ion-option>
            <ion-option value="4">{{translate.vehicleUpdatePage[16][translate.selectedlanguage]}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col col-3></ion-col>
            <ion-col col-4>
              <button ion-button (click)="cancel()" class="cancel_button">{{translate.vehicleUpdatePage[17][translate.selectedlanguage]}}</button>
            </ion-col>
            <ion-col col-1></ion-col>
            <ion-col col-4>
              <button ion-button (click)="update()" [disabled]="vehicleForm.invalid" class="save_button">{{translate.vehicleUpdatePage[18][translate.selectedlanguage]}}</button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </form>
  </ion-row>
</ion-content>
